<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<!-- 	Usando Thymeleaf layout dialect para criar um template padrão para as páginas (https://github.com/ultraq/thymeleaf-layout-dialect) -->
	
<head>
	<meta charset="UTF-8"/>
	<title>Cobrança</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img alt="Logo" src="...">
				</a>
			</div>
		</div>
	</nav>
	
	<section layout:fragment="conteudo">
		<p>Contéudo Principal</p>	
	</section>
	
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>	
</html>